<br>
<div class="row">
<div class="col-lg-3 main-content"></div>
<div class="col-lg-7 main-content">
<div class="container container-fluid">

    <h2>Add Product</h2>
      
    <form #form="ngForm" (ngSubmit)="AddProduct()">
        <div class="mb-3">
          <label for="product_name" class="form-label">Product Name</label>
          <input type="text" class="form-control" id="product_name" aria-describedby="product_name" required [(ngModel)] = "AddProductRequest.product_Name"     
          name="product_name" [(ngModel)]="AddProductRequest.product_Name" >
        </div>
      
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description" required [(ngModel)] = "AddProductRequest.product_Description"  
                 name="description" [(ngModel)]="AddProductRequest.product_Description">
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price" required [(ngModel)] = "AddProductRequest.product_Price"  
                   name="price" [(ngModel)]="AddProductRequest.product_Price">
          </div>

        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <select class="form-select" id="category" [(ngModel)]="AddProductRequest.product_Category_ID" name="category">
            <option value="1">Engine</option>
            <option value="2">Transmission</option>
            <option value="3">Suspension</option>
            <option value="4">Electrical</option>
            <option value="5">Body</option>
            <option value="6">Brake</option>
            <option value="7">Wheel</option>
            <option value="8">Consumables</option>

          </select>
      </div>

      <div class="mb-3">
        <label for="type" class="form-label">Type</label>
        <select class="form-select" id="type" [(ngModel)]="AddProductRequest.product_Type_ID" name="type">
          <option value="1">Truck</option>
          <option value="2">Trailer</option>
        </select>
      </div>
          
        
        <button type="submit" class="btn btn-primary" style="border-radius: 12px;" [disabled]="form.invalid">Add Product</button>&nbsp;
        <button type="button" class="btn btn-danger" style="border-radius: 12px;" routerLink="/Admin-Screen/products">Cancel</button>
      </form>
      <br>

    </div>
  </div>
</div>  
