<button class="helpbtn" (click)="OpenHelpModal()"><mat-icon class="help-icon">help</mat-icon></button>

<br>
<div class="row">
<div class="col-lg-3 main-content"></div>
<div class="col-lg-7 main-content">
<div class="container container-fluid">

    <h2>Add Product</h2>
      
    <form #form="ngForm" (ngSubmit)="AddProduct()" autocomplete="off">
        <div class="mb-3">
          <label for="product_name" class="form-label">Product Name</label>
          <input type="text" class="form-control" id="product_name" aria-describedby="product_name" required [(ngModel)] = "AddProductRequest.product_Name"     
          name="product_name" [(ngModel)]="AddProductRequest.product_Name" >
        </div>
      
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description" required [(ngModel)] = "AddProductRequest.product_Description"  
                 name="description" [(ngModel)]="AddProductRequest.product_Description">
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" required [(ngModel)] = "AddProductRequest.product_Price"  
                   name="price" [(ngModel)]="AddProductRequest.product_Price" min="0" (blur)="removeNegativeSign()">
          </div>

          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" name="CategoryDropdown" id="CategoryDropdown" [(ngModel)]="AddProductRequest.product_Category.product_Category_ID" >
              <option *ngFor="let prodCat of productCategories" [value]="prodCat.product_Category_ID">{{prodCat.name}}</option>
            </select>
          </div>

      <div class="mb-3">
        <label for="type" class="form-label">Type</label>
        <select class="form-select" name="CategoryDropdown" id="TypeDropdown" [(ngModel)]="AddProductRequest.product_Type.product_Type_ID" (change)="onTypeChange($event)">
          <option *ngFor="let prodType of productTypes" [value]="prodType.product_Type_ID">{{prodType.name}}</option>
        </select>
      </div>

      
      <div class="mb-3">
        <label for="quantity" class="form-label">Quantity (Stock)</label>
        <input type="number" class="form-control" id="quantity" [(ngModel)] = "AddProductRequest.quantity"  
               name="quantity" [(ngModel)]="AddProductRequest.quantity" min="0" (blur)="removeNegativeSign()">
      </div>

      <div class="mb-3">
        <label for="image" style="padding-right: 20px;" class="form-label">Image Upload </label>
        <input class="btn btn-info" type="file" accept="image/*"  id="image" (change)="onImageSelected($event)">
      </div>

          
        
        <button type="submit" class="btn btn-primary" style="border-radius: 12px;" [disabled]="form.invalid">Add Product</button>&nbsp;
        <button type="button" class="btn btn-danger" style="border-radius: 12px;" routerLink="/Admin-Screen/products">Cancel</button>
      </form>
      <br>

    </div>
  </div>
</div>  

<!-- Help Modal -->
<div *ngIf="showHelpModal" class="HelpModal">
  <div class="modal-content">
    <span class="close" (click)="CloseHelpModal()">&times;</span>
    <h3 class="HelpHeader" style="color:#004F9E;">Welcome to LTT Help Centre!</h3><br>
    <p>
      - Enter the new Product’s details in the associated form fields.<br>
      - To save the Product, click on the “Add Product” button.<br>
    </p><br>
    <b> If the new Product can’t be created, please do the following:</b>
    <ol>
      <li>Ensure that you clicked the “Add Product” button before closing the page.</li>
      <li>Make sure that the fields are not left empty.</li>
      <li>Make sure that you are connected to the internet.</li>
      <li>Log out of your account and then proceed to log back in afterwards.</li>
    </ol>

    
    <br><p class="ContactSupport">If the issue still persists, please contact our support team at <b>hanru@limtt.co.za</b>.</p>

  </div>
</div>