
<div class="container container-fluid">
  <h2>Customer List</h2>
      
      <!-- Search bar -->
      <br>
      <div class="row">
        <div class="col-lg-9">
          <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" [(ngModel)]="searchText" (keyup)="handleKeyUp($event)" />
            <button type="button" class="btn btn-outline-primary" (click)="search()">Search</button>
          </div>
        </div>
      </div>
      <br>
        
            <!-- Table -->
            <table class="table table-hover">
              <thead id="header">
                <tr>
                  <th>Customer Name</th>
                  <th>Customer Surname</th>
                  <th>Email</th>
                  <!-- <th></th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="customer.length === 0">
                  <td colspan="5">No results were found.</td>
                </tr>
                <tr *ngFor="let cust of customer">
                  <td>{{cust.name}}</td>
                  <td>{{cust.lastName}}</td>
                  <td>{{cust.email}}</td>
            <!-- <td><button type="button" class="btn edit-btn" (click)="DeleteCustomer(cust.admin_ID)">View</button></td> -->
          </tr>
        </tbody>
      </table>
    </div>

