<button class="helpbtn" (click)="OpenHelpModal()"><mat-icon class="help-icon">help</mat-icon></button>
<mat-card class="user-card">
  <div class="grid-container">
    <div class="profile-photo">
      <img src="assets/User Icon.jpg" alt="Profile Photo">
    </div>
    <div class="user-info" >
      <h3>{{ editAdmin.name }} {{ editAdmin.lastname }}</h3>
      <p>{{ editAdmin.email }}</p>
    </div>
  </div>
  <mat-card-actions>
    <button class="EditProfileBtn" mat-button (click)="toggleEditForm()">
      Edit Profile
      <mat-icon [ngClass]="{'arrow-up': showEditForm, 'arrow-down': !showEditForm}">
        keyboard_arrow_{{ showEditForm ? 'up' : 'down' }}
      </mat-icon>
    </button>

    <!-- <button class="EditPaymentInfoBtn" mat-button (click)="togglePaymentForm()">
      Payment Information
      <mat-icon [ngClass]="{'arrow-up': showPaymentInfoForm, 'arrow-down': !showPaymentInfoForm}">
        keyboard_arrow_{{ showPaymentInfoForm ? 'up' : 'down' }}
      </mat-icon>
    </button> -->
  </mat-card-actions>

  <!-- Custom dropdown form -->
  <div class="edit-form" *ngIf="showEditForm" >
    <mat-form-field>
      <mat-label>Edit Name</mat-label>
      <input matInput [(ngModel)]="admin.name" name="admin.name">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Edit Surname</mat-label>
      <input matInput [(ngModel)]="admin.lastname" name="admin.lastname">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Edit Password</mat-label>
      <input matInput [(ngModel)]="admin.password" name="admin.password" name="password" placeholder="********" pattern="^(?=.*[A-Z])(?=.*[0-9]).{8,}$" autocomplete="off">
      <small class="text-muted"> Password must contain at least 1 capital letter, at least 1 number and at least 8 characters.</small>
    </mat-form-field>
    <button mat-button class="SaveBtn" (click)="EditAdmin()">Save Changes</button>
  </div>


  <!-- Payment details -->
  <!-- <div class="edit-form" *ngIf="showPaymentInfoForm">
      <mat-form-field class="form-field">
        <mat-label>Cardholder Name</mat-label>
        <input matInput [(ngModel)]="cardholderName" name="cardholderName">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Card Number</mat-label>
        <input matInput [(ngModel)]="cardNumber" name="cardNumber" maxlength="16">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Expiration Date</mat-label>
        <input matInput [(ngModel)]="expirationDate" name="expirationDate" maxlength="5" placeholder="MM/YY">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>CVV</mat-label>
        <input matInput [(ngModel)]="cvv" name="cvv" maxlength="3">
      </mat-form-field>
      <button mat-raised-button color="primary" class="SaveBtn">Save Changes</button>
    </div> -->
  
</mat-card>

<div *ngIf="showHelpModal" class="HelpModal">
  <div class="modal-content">
    <span class="close" (click)="CloseHelpModal()">&times;</span>
    <h3 class="HelpHeader" style="color:#004F9E;">Welcome to LTT Help Centre!</h3><br>
    <b>To edit your profile:</b>
    <ol>
      <li> To <b>edit</b> your profile, click on the “Edit Profile” button on the bottom of the screen.</li>
      <li> A <b>form</b> will display where you can update your <b>profile details</b>.</li>
      <li> To <b>save</b> the changes you made, click on the “Save Changes” button.</li>
    </ol>

    <b>If your changes did not save, please do the following:</b>
    <ol>
      <li>Ensure that you <b>clicked</b> the “Save Changes” button before closing the page.</li>
      <li>Make sure that the Name, Surname and Password fields are not <b>left empty</b>.</li>
      <li>Make sure that you are <b>connected</b> to the internet.</li>
      <li><b>Log out</b> of your account and then proceed to <b>log back in</b> afterwards.</li>
    </ol>

  </div>
</div>