
<!-- Top Row Of The Page -->
<div class="side-nav">
  <div class="row top-row">
    <div class="col-lg-3">
      <!-- TrackWise Logo -->  
      <img src="/assets/TrackWiseLogo.jpg" style="width: 20%; height: auto;">
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-1">
      <img src="/assets/Mail.jpg" style="display: block; width: 37%; height: auto; margin: 10px;">
    </div>
    <div class="col-lg-1">
      <img src="/assets/User Icon.jpg" style="display: inline-block; width: 26%; height: auto; margin: 10px;">  
      <p style="display: inline-block; color: white;"><u>User Name</u></p>  
      
    </div>
    
    
  </div>
  
  <!-- Side NavBar -->  
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="Admin-Screen/clients">Clients</a></li>
    <li><a routerLink="Admin-Screen/customers">Customers</a></li>
    <li><a routerLink="Admin-Screen/drivers">Drivers</a></li>
    <li><a routerLink="Admin-Screen/jobs">Jobs</a></li>
    <li><a routerLink="Admin-Screen/orders">Orders</a></li>
    <li><a routerLink="Admin-Screen/reports">Reports</a></li>
    <li><a routerLink="Admin-Screen/suppliers">Suppliers</a></li>
    <li><a routerLink="Admin-Screen/trailers">Trailers</a></li>
    <li><a routerLink="Admin-Screen/trucks">Trucks</a></li>
  </ul>
</div>

<div class="app-container">
  <div class="main-content" style="margin-top: 60px;">
    <router-outlet></router-outlet>
  </div>
</div>