<br>
<br>
<br>

<div class="container">
 <img src="/src/assets/TrackWiseLogo.jpg"  width="200" height="200">
 <br>
  <h1 class="h1"> Forgot your Password? </h1>
  <br>
  <div class="login-wrapper">
      <form class="login-form" [formGroup]="loginFormGroup">
        <div class="form-field">
          <!-- <label class="form-label">Username</label> -->
          <input class="form-input" type="text" placeholder="Email address" formControlName="email" required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}">
        </div>
        <br>
        
        <button class="login-btn" (click)="Forgotpass()">Send</button><br>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div class="register-section">Return back to login <a [routerLink]="['/Authentication/login']"><span style="font-weight: bold; color: white;"> here</span></a></div>
      </form>
  </div>
</div>