
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px; 
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    color: antiquewhite;
    background-color: #217ad3;
  };

  .h1 {
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .login-btn {
    display: block; /* Set display to block */
    color: white;
    margin: 0 auto; /* Center horizontally */
    background-color: #2bb431;
    border: 3px solid white;
    width: 100px;
    height: 50px;
    border-radius: 15px;
}
  .box, .login-wrapper, .login-form{
    background-color: #217ad3;
  }

  .error-message {
    color: red;
  }
  
  .response-message {
    margin-top: 10px;
  }