<br>
<br>
<br>

<div class="container">
  <div class="login-wrapper">
    <mat-card class="box" *ngIf="!isLoading">

      <img class="logo" src="/assets/LTTLogo.jpg">

      <form class="login-form" [formGroup]="loginFormGroup">
        <div class="form-field">
          <h1> Forgot your Password? </h1>
          <br>
          <input class="form-input" type="text" placeholder="Email address" formControlName="email" required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}">
        </div>
        <button class="login-btn" (click)="Forgotpass()">Send</button><br>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div class="register-section">Return back to login <a [routerLink]="['/Authentication/login']"><span style="font-weight: bold; color: white;"> here</span></a></div>
      </form>
    </mat-card>
  </div>
</div>

