
<div class="container container-fluid">
  <h2>Trailer List</h2>
      <!-- Search bar -->
      <br>
      <div class="row">
        <div class="col-lg-9">
          <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" [(ngModel)]="searchText" (keyup)="handleKeyUp($event)" />
            <button type="button" class="btn btn-outline-primary" (click)="search()">Search</button>
          </div>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn create-btn" routerLink="add-trailers">Add Trailer</button>
        </div>
      </div>
      <br>
  
      <!-- Table -->
      <table class="table table-hover">
        <thead id="header">
          <tr>
            <th>Registration Nr.</th>
            <th>Model</th>
            <th>Weight</th>
            <th>Status</th>
            <th>Type</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="trailers.length === 0">
            <td colspan="5">No results were found.</td>
          </tr>
          <tr *ngFor="let trailer of trailers">
            <td>{{trailer.trailer_License}}</td>
            <td>{{trailer.model}}</td>
            <td>{{trailer.weight}}</td>
            <td>{{trailer.trailerStatus.status}}</td>
            <td>{{trailer.trailerType.name}}</td>
            <td><button type="button" class="btn edit-btn" [routerLink]="['edit-trailer', trailer.trailerID]">Edit</button></td>
            <td><button type="button" class="btn remove-btn" (click)="openConfirmationDialog(trailer.trailerID)">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>
