<br>
<div class="row">
<div class="col-lg-3 main-content"></div>
<div class="col-lg-7 main-content">
<div class="container container-fluid">
      
      <!-- Search bar -->
      <br>
        <div class="row">
            <div class="col-lg-9">
                <!-- Search Textbox/bar -->
                <!-- Enter the placeholder text that you want to display in the bar ------------------------------------------------------->
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
                    <!-- Search Button -->
                    <button type="button" class="btn btn-outline-primary">Search</button>
                </div>
            </div>
            
            <!-- Add button -->
            <!-- Change the button name to suit your use case ---------------------------------------------------------------------------->
            <div class="col-lg-3">
                <button type="button" class="btn create-btn">Add (What you want to add)</button>
            </div>
        </div>
      <br>
  
      <!-- Table -->
      <!-- Enter your own table heading and table data to check the layout(hard code data for now) -------------------------------------->
      <table class="table table-hover">
        <thead id="header">
          <tr>
            <th>Registration Nr.</th>
            <th>Make</th>
            <th>Type</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AD26OKGP</td>
            <td>Venter</td>
            <td>Diesel<td>
            <td>Available</td>
            <td><button type="button" class="btn edit-btn">Edit</button></td>
            <td><button type="button" class="btn remove-btn">Remove</button></td>
          </tr>
          
        <!-- Insert more rows if you want to----------------------------------------------------- -->

        </tbody>
      </table>
    </div>
  </div>
</div>