<!-- <div class="container">
    <div class="register-wrapper">
      <mat-card class="box" *ngIf="!isLoading">
  
        <form class="register-form" [formGroup]="registerFormGroup">
            <div class="form-field">
                <input class="form-input" type="text" placeholder="Enter Name" formControlName="Name">
              </div>
              <div class="form-field">
                <input class="form-input" type="text" placeholder="Enter Surname" formControlName="Surname">
              </div>
          <div class="form-field">
            <input class="form-input" type="text" placeholder="Enter Email Address" formControlName="emailaddress">
          </div>
          <div class="form-field">
            <input class="form-input" type="password" placeholder="Enter Password" formControlName="password">
          </div>
          <div class="form-field">
            <input class="form-input" type="password" placeholder="Re-enter password" formControlName="ReEnterPassword">
          </div>
          <button class="register-btn" (click)="RegisterUser()">Sign up</button><br>
          <div class="login-section">Already have an account? Log in <a [routerLink]="['../register']">here.</a></div>
        </form>
      </mat-card>
      <mat-progress-spinner mode="indeterminate" value="50" *ngIf="isLoading"></mat-progress-spinner>
    </div>
  </div> -->
