/* Add this CSS to your global stylesheet or component stylesheet */
.container {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 70vh; /* This will make the container take up the full height of the viewport */
  }

.logo{
  width: 100%;
  height: auto;
  margin-top: -55px;
}
  
  .login-wrapper {
    /* You can set the maximum width for the login wrapper if desired */
    max-width: 400px; /* Adjust this value according to your preference */
  }

  .box {
    margin-top: 15%;
    position: relative; /* This is required for positioning the pseudo-element */
    background-color: white; /* Set a background color for the .box element */
    height: 500px; /* Set the desired height of the .box element */
    width: auto;
    border: 2px solid #004F9E;
    border-radius: 10px;
    align-items: flex-start;
  }
  
  .box::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 102%;
    background-image: url('/assets/Login/Register/bg.jpg');
    background-size: cover;
    background-position: center bottom;
    z-index: -1;
    margin-top: auto; /* Add this line to remove the default margin */

  }
  
  
  .card-title {
    color: #004F9E;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: auto;
    justify-content: center;
    align-self: flex-start; 
  }

  .register-btn {
    display: block; /* Set display to block */
    color: white;
    font-weight: bold;
    margin: 0 auto; /* Center horizontally */
    background-color: #117fca;
    border: 3px solid white;
    width: 150px;
    height: 50px;
    border-radius: 30px;
}


/* Add this CSS to your global stylesheet or component stylesheet */
.login-section {
  color: white;
}

.login-section a {
  color: white; /* Set the link color to white to match the background */
  text-decoration: none; /* Remove underline from the link */
  text-decoration: underline;
}

.login-section a:hover {
  text-decoration: underline; /* Add underline on hover if desired */
  font-weight: bold;
}


/* Styles for the form fields */
.register-form{
  margin-top: -5%;
}

.form-field {
  margin-bottom: 15px;

}

/* Styles for the form labels */
.form-label {
  display: block;
  font-weight: bold;
}

/* Styles for the form inputs */
.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-radius: 30px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Styles for the spinner animation */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}