.container {
  margin-top: 10px;
}

/* ---------------------top */
.top-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.top-row img {
  width: 25%;
  animation: slideFromLeft 2s ease;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.top-row h3 {
  margin-top: 1%;
  font-size: 180%;
  color: #117fca;
}

/* --------------------mid */
.mid-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mid-row img {
  width: 100%;
}

/* ----------------------bottom */
.bottom-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* Two equal columns */
  grid-template-rows: auto auto auto;
  /* Rows adjust to content height */
  gap: 20px;
  /* Spacing between columns and rows */

  // display: grid;
  // grid-template-columns: 1fr 1fr; /* Two equal columns */
  // grid-template-rows: auto; /* Rows adjust to content height */
  /* Spacing between columns and rows */
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #282828;
  border-radius: 10px;
  // display: flex;
  // flex-direction: column; /* Change to 'column' to stack elements vertically */
  // align-items: center;
  height: auto;
  width: 93%;
  max-width: 870px;
}

.br-content {
  /* margin-left: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #ffffff;
  /* Text color for the content */
  width: auto;
  height: auto;
  order: 2;
}

.br-content h3 {
  text-align: left;
  font-size: 24px;
  color: #117fca;
  margin-bottom: 10px;
}

.br-content p {
  font-size: 14px;
  text-align: left;
}

/* slideshow.component.css */
.slideshow-container {
  // display: block;
  position: relative;
  width: 100%;
  /* Adjust the width to leave space for the text */
  height: auto;
  overflow: hidden;
  order: 1;

  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;

}

.slide {
  // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide.active {
  z-index: 1;
  opacity: 1;
}

.slide-image {
  width: 60%;
  height: 60%;
  max-width: 180px;
  max-height: 180px;
  object-fit: cover;
  // display: block;
  margin: 0 auto;
  animation: fadeInOut 8s infinite;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.contact-us-row {
  margin-top: 20px;
  background-color: #282828;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  /* Change to 'column' to stack elements vertically */
  align-items: center;
  height: 220px;
  color: #ffffff;
  justify-content: center;
}

.contact-details {
  flex: 1;
  /* Let it take available space */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Align content to the left side */
  padding-left: 20px;
  /* Add some left padding for better spacing */
}

.details {
  display: flex;
  flex-direction: row;
}

.icon-detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.mat-icon {
  margin-right: 8px;
}

.fb-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #ffffff;
  width: 150px;
  height: 40px;
  border-radius: 7px;
  border: 2px solid #ffffff;
}

.fb-button:hover {
  background-color: #4267B2;
}

.fb-button mat-icon,
.fb-button p {
  margin: 0;
  /* To remove default margins */
}

.fb-button mat-icon {
  margin-right: 8px;
  /* Add some space between icon and text */
}

.comment {
  flex: 1;
  /* Let it take available space */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the content horizontally */
  // margin-right: 200px;
}

.rating-img {
  width: auto;
  height: 200px;
  display: block;
  /* Add this to make the image a block-level element */
  margin: 0 auto;
  /* Center the image horizontally */
  border-radius: 5px;
}


.image-container {
  position: relative;
  display: inline-block;
}

.rating-text {
  position: absolute;
  margin-bottom: 25px;
  bottom: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  max-width: 60%;
  border-radius: 10px;
}

.rating-text p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}

/* ---------------------------- */

.contact-us-table {
  
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 20px;
  background-color: #282828;
  border-radius: 10px;
  height: 220px;
  color: #ffffff;
}

.contact-us-table td {
  padding: 20px;
}


.trading-hours {
  border: 3px solid #ffffff;
  border-radius: 10px;
}

.hours-details {
  padding: 5px;
}

.title {
  font-weight: bold;
}

.logo-row {
  display: flex;
  justify-content: center;
  /* To center the images horizontally */
  align-items: center;
  /* To center the images vertically (optional) */
}

.logo-img {
  width: 15%;
  /* Adjust the width as needed */
  max-width: 120px;
  height: auto;
  /* Let the height scale proportionally based on the width */
  margin: 10px;
  /* Add some margin between the images (optional) */
}

.logo-row2 {
  display: flex;
  justify-content: center;
  /* To center the images horizontally */
  align-items: center;
  /* To center the images vertically (optional) */
}

.logo-img2 {
  width: 13%;
  /* Adjust the width as needed */
  max-width: 100px;
  height: auto;
  /* Let the height scale proportionally based on the width */
  margin: 10px;
  /* Add some margin between the images (optional) */
}


@media screen and (max-width: 768px) {

  /* Apply a single column layout for smaller screens */
  .bottom-row {
    grid-template-columns: 1fr;
    /* Single column */
  }
}

.video-container {
  position: relative;
  order: 3;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}

video {
  margin-top: auto;
  margin-bottom: auto;
  height: 60%;
  width: auto;
  display: flex;
}

.helpbtn {
  margin-top: 75px;
  margin-left: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Optional: If you want a transparent button background */
  border: none; /* Optional: If you want to remove the button border */
  cursor: pointer; /* Optional: Add a pointer cursor on hover */
}


.help-icon {
  color: #004F9E;
}


/* help Modal */
.HelpModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Modal content container */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%; /* Adjust the width as needed */
  width: 100%;
  max-width: 900px;
  max-height: 80%; /* Adjust the height as needed */
  overflow-y: auto; /* Add vertical scroll if content exceeds the height */
}

/* Center the modal vertically and horizontally */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover {
  color: #555;
}

.HelpHeader{
  margin-left: auto;
  margin-right: auto;
}