.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  

  .price-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-container {
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .green-button {
    background-color: green;
    color: white; 
  }

  .search-bar-container {
    width: 100%;
  }

  .product-card{
    background-color: rgb(241, 241, 241);
  }
  
  
  