<button class="helpbtn" (click)="OpenHelpModal()"><mat-icon class="help-icon">help</mat-icon></button>
<div class="container container-fluid">
      
  <h2>Driver List</h2>
  
      <!-- Search bar -->
      <br>
      <div class="row">
        <div class="col-lg-9">
          <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" [(ngModel)]="searchText" (keyup)="handleKeyUp($event)" />
            <button type="button" class="btn btn-outline-primary" (click)="search()">Search</button>
          </div>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn create-btn" routerLink="add-driver">Add Driver</button>
        </div>
      </div>
      <br>
        
            <!-- Table -->
            <table class="table table-hover">
              <thead id="header">
                <tr>
                  <th>Driver Name</th>
                  <th>Driver Surname</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Status</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="drivers.length === 0">
                  <td colspan="5">No results were found.</td>
                </tr>
                <tr *ngFor="let driver of drivers">
                  <td>{{driver.name}}</td>
                  <td>{{driver.lastname}}</td>
                  <td>{{driver.email}}</td>
                  <td>{{driver.phoneNumber}}</td>
                  <td>{{driver.driverStatus.status}}</td>
            <td><button type="button" class="btn edit-btn" [routerLink]="['edit-driver', driver.driver_ID]">Edit</button></td>
            <td><button type="button" class="btn remove-btn" (click)="openConfirmationDialog(driver.driver_ID)">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Help Modal -->
<div *ngIf="showHelpModal" class="HelpModal">
  <div class="modal-content">
    <span class="close" (click)="CloseHelpModal()">&times;</span>
    <h3 class="HelpHeader" style="color:#004F9E;">Welcome to LTT Help Centre!</h3><br>
    <p>
      - To <b>search</b> for an driver, enter your search query in the search bar then proceed to click on the “Search” button.<br>
      - To <b>add</b> a driver, click on the “Add Driver” button that will navigate you to the add driver screen.<br>
      - To <b>edit</b> a driver, click on the “Edit” button beside the driver you want to edit. The system will navigate you to
      the edit driver screen.<br>
      - To <b>remove</b> a driver, click on the remove button then confirm the removal.<br>
    </p><br>
    <b>If you can’t add, edit or remove a driver, please follow these steps:</b>
    <b> If the driver can’t be removed, please do the following:</b>
    <ol>
      <li>Ensure that you clicked the “Yes” button on the confirmation modal.</li>
      <li>Make sure that you are connected to the internet.</li>
      <li>Log out of your account and then proceed to log back in afterwards.</li>
    </ol>
    
    <br><p class="ContactSupport">If the issue still persists, please contact our support team at <b>hanru@limtt.co.za</b>.</p>

  </div>
</div>