<button class="helpbtn" (click)="OpenHelpModal()"><mat-icon class="help-icon">help</mat-icon></button>

<br>
<div class="row">
<div class="col-lg-3 main-content"></div>
<div class="col-lg-7 main-content">
<div class="container container-fluid">

    <h2>Edit Supplier</h2>
      
    <form #form="ngForm" (ngSubmit)="EditSupplier()" autocomplete="off">
        <div class="mb-3">
          <label for="Name" class="form-label">Supplier Name</label>
          <input type="text" class="form-control" id="Name" aria-describedby="Name" required [(ngModel)] = "EditSupplierReq.name"     
          name="Name" [(ngModel)]="EditSupplierReq.name" >
        </div>
      
        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="EditSupplierReq.email"  
          name="email" [(ngModel)]="EditSupplierReq.email" required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
        <small class="text-muted">Please enter a valid email address.</small>
        </div>

        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input type="tel" class="form-control" id="phoneNumber" [(ngModel)]="EditSupplierReq.contact_Number"  
            name="phoneNumber" [(ngModel)]="EditSupplierReq.contact_Number" required
            pattern="0[0-9]{9}" maxlength="10">
          <small class="text-muted">Please enter a 10-digit phone number starting with 0.</small>
        </div>
  

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="text" class="form-control" id="model" [(ngModel)] = "EditSupplierReq.password"  
                 name="password" [(ngModel)]="EditSupplierReq.password" required>
        </div>
          
        
        <button type="submit" class="btn btn-primary" style="border-radius: 12px;">Save</button>&nbsp;
        <button type="button" class="btn btn-danger" style="border-radius: 12px;" routerLink="/Admin-Screen/suppliers">Cancel</button>
      </form>
      <br>

    </div>
  </div>
</div>  


<!-- Help Modal -->
<div *ngIf="showHelpModal" class="HelpModal">
  <div class="modal-content">
    <span class="close" (click)="CloseHelpModal()">&times;</span>
    <h3 class="HelpHeader" style="color:#004F9E;">Welcome to LTT Help Centre!</h3><br>
   <p>
      - To save the changes you made, click on the “Save” button.<br>
    </p><br>
    <b>If your changes did not save, please do the following:</b>
    <ol>
      <li>Ensure that you clicked the “Save” button before closing the page.</li>
      <li>Make sure that the fields are not left empty.</li>
      <li>Make sure that you are connected to the internet.</li>
      <li>Log out of your account and then proceed to log back in afterwards.</li>
    </ol>
    
    <br><p class="ContactSupport">If the issue still persists, please contact our support team at <b>hanru@limtt.co.za</b>.</p>
  </div>
</div>
