<br>
<div class="row">
<div class="col-lg-3 main-content"></div>
<div class="col-lg-7 main-content">
<div class="container container-fluid">

    <h2>Edit Supplier</h2>
      
    <form #form="ngForm" (ngSubmit)="EditSupplier()">
        <div class="mb-3">
          <label for="Name" class="form-label">Supplier Name</label>
          <input type="text" class="form-control" id="Name" aria-describedby="Name" required [(ngModel)] = "EditSupplierReq.name"     
          name="Name" [(ngModel)]="EditSupplierReq.name" >
        </div>
      
        <div class="mb-3">
          <label for="email" class="form-label">Supplier Email</label>
          <input type="text" class="form-control" id="email" [(ngModel)] = "EditSupplierReq.email"  
                 name="email" [(ngModel)]="EditSupplierReq.email">
        </div>

        <div class="mb-3">
          <label for="contact_Number" class="form-label">Contact Number</label>
          <input type="text" class="form-control" id="contact_Number" [(ngModel)] = "EditSupplierReq.contact_Number"  
                 name="contact_Number" [(ngModel)]="EditSupplierReq.contact_Number">
        </div>
    
          
        
        <button type="submit" class="btn btn-primary" style="border-radius: 12px;">Save</button>&nbsp;
        <button type="button" class="btn btn-danger" style="border-radius: 12px;" routerLink="/Admin-Screen/suppliers">Cancel</button>
      </form>
      <br>

    </div>
  </div>
</div>  
