<div class="edit-container">



    <form>
        <h3>Edit Job</h3>
        <input class="txtbox" type="text" placeholder=" Pickup Location">

        <input class="txtbox" type="text" placeholder=" Drop-off Location">



        <div class="form-item-container">
            <label>Type:</label>
            <select class="dropdown">
                <option>Type of Job</option>
            </select>

            <input class="weight" type="number" placeholder=" Weight (kg)">
        </div>

        <div class="form-item-container">
            <label class="lbl-start">Start Date</label>
            <label class="lbl-end">End Date</label>
        </div>

        <div class="form-item-container">
            <input class="date-start" type="datetime-local">
            <input class="date-end" type="datetime-local">
        </div>

        <div class="footer-row">
            <button class="cancel-button" type="submit">Cancel</button>

            <button class="save-button" type="submit">Save</button>
        </div>
    </form>
</div>