<button class="helpbtn" (click)="OpenHelpModal()"><mat-icon class="help-icon">help</mat-icon></button>
<br>
<div class="row">
<div class="col-lg-3 main-content"></div>
<div class="col-lg-7 main-content">
<div class="container container-fluid">

    <h2>Add Trailer</h2>
      
    <form #form="ngForm" (ngSubmit)="AddTrailer()" autocomplete="off">
      <label for="model" class="form-label">License</label>
      <input type="text" class="form-control" id="trailer_License" aria-describedby="trailer_License" required 
      [(ngModel)]="AddTrailerRequest.trailer_License" name="trailer_License" [(ngModel)]="AddTrailerRequest.trailer_License"
      [ngModelOptions]="{standalone: true}" (input)="AddTrailerRequest.trailer_License = AddTrailerRequest.trailer_License.toUpperCase()"
      maxlength="8">
      
        <div class="mb-3">
          <label for="model" class="form-label">Model</label>
          <input type="text" class="form-control" id="model" required [(ngModel)] = "AddTrailerRequest.model"  
                 name="model" [(ngModel)]="AddTrailerRequest.model">
        </div>

        <div class="mb-3">
            <label for="weight" class="form-label">Weight</label>
            <input type="text" class="form-control" id="weight" required [(ngModel)] = "AddTrailerRequest.weight"  
                   name="weight" [(ngModel)]="AddTrailerRequest.weight">
          </div>
      
          <div class="mb-3">
            <label for="type" class="form-label">Status</label>
            <select class="form-select" id="type" [(ngModel)]="AddTrailerRequest.trailer_Status_ID" name="type" required>
              <option value="1">Available</option>
              <option value="2">Unavailable</option>
              <option value="3">Under Maintenance</option>
            </select>
        </div>


        <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <select class="form-select" id="type" [(ngModel)]="AddTrailerRequest.trailer_Type_ID" name="type" required>
              <option value="1">Coal</option>
              <option value="2">Feul</option>
            </select>
        </div>
          
        
        <button type="submit" class="btn btn-primary" style="border-radius: 12px;" [disabled]="form.invalid">Add Trailer</button>&nbsp;
        <button type="button" class="btn btn-danger" style="border-radius: 12px;" routerLink="/Admin-Screen/trailers">Cancel</button>
      </form>
      <br>

    </div>
  </div>
</div>  

<!-- Help Modal -->
<div *ngIf="showHelpModal" class="HelpModal">
  <div class="modal-content">
    <span class="close" (click)="CloseHelpModal()">&times;</span>
    <h3 class="HelpHeader" style="color:#004F9E;">Welcome to LTT Help Centre!</h3><br>
    <p>
      - Enter the new trailer’s details in the associated form fields.<br>
      - To save the trailer, click on the “Add Trailer” button.<br>
    </p><br>
    <b> If the new trailer can’t be created, please do the following:</b>
    <ol>
      <li>Ensure that you clicked the “Add Trailer” button before closing the page.</li>
      <li>Make sure that the fields are not left empty.</li>
      <li>Make sure that you are connected to the internet.</li>
      <li>Log out of your account and then proceed to log back in afterwards.</li>
    </ol>

    
    <br><p class="ContactSupport">If the issue still persists, please contact our support team at <b>hanru@limtt.co.za</b>.</p>

  </div>
</div>