<div class="container">

    <div class="top-row">
        <img src="/assets/LTTLogo.jpg">
    </div>

    <div class="mid-row">
        <div class="about-us">
            <div class="about-us-container">
                <img class="about-us-img" src="/assets/CustAbout/about-us.jpg" alt="Rating Image">
                <div class="about-us-text">
                    <h3>About us</h3>
                    <p>Limpopo Trailer & Truck is built on strong customer & relationship values.
                        We supply parts from the top brands in South Africa. We are situated in Lephalale (Ellisras).
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="image-row">
        <img class="ab-image" src="/assets/CustAbout/ab1.jpg">
        <img class="ab-image" src="/assets/CustAbout/ab2.jpg">
        <img class="ab-image" src="/assets/CustAbout/ab3.jpg">
    </div>

    <div class="text-container">
        <p>Our expert team will help you with all your needs and are here to
            provide you with the best possible service. Since 2018 we have been
            the leading Trailer & Truck supplier in Lephalale. Our aim is to provide a
            one-stop service to all our clients and with your continued support we are
            able to achieve this. We have the best prices coupled with amazing service.
            Our relationship with you is one of our core values and we aim to supply you
            with the best in parts and service. We are not only a business but believe in
            strong personal connection with our clients ensuring a life-long relationship
            with you. For any information or questions go to our Contact page to get
            in touch with us or visit our Products page to get what you need. We are your
            solution to all things Trailer & Truck!
        </p>
    </div>


    <table class="contact-us-table">
        <tr>
            <td>
                <div class="contact-details">
                    <div class="details">
                        <mat-icon>email</mat-icon>
                        <p>sales1@limtt.co.za</p>
                    </div>
                    <div class="details">
                        <mat-icon>phone</mat-icon>
                        <p>014 940 5433</p>
                    </div>
                    <div class="details">
                        <button class="fb-button">
                            <mat-icon>facebook</mat-icon>
                            <p>Visit Us!</p>
                        </button>
                    </div>
                </div>
            </td>

            <td>
                <div class="comment">
                    <div class="image-container">
                        <img class="rating-img" src="/assets/CustHome/RatingImg.jpg" alt="Rating Image">
                        <div class="rating-text">
                            <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon>
                            <p>Amazing service! Great prices! Best in the business! Would recommend to anyone! Louis
                                Johann Botha (Customer)</p>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <div class="trading-hours">

                    <div class="hours-details">
                        <p class="title">
                            Trading Hours:
                        </p>
                        <p>
                            <b>Mon - Fri:</b> 08:00 - 16:30 <br><br>
                            <b>Sat - Sun:</b> Closed <br><br>
                            <b>Public<br> Holidays:</b> Closed <br>
                        </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>