.edit-btn{
    background-color: #117fca;
    color: white;
}

.remove-btn{
    background-color: #CA0017;
    color: white;
}

.container {
    border: 2px solid #004F9E;
    border-radius: 10px;
    width: 100%;
  }

#header{
    background-color: #004F9E;
    color: white;
}

.create-btn{
    background-color: forestgreen;
    color: white;
}

.btn-outline-primary:hover{
    background-color: #117fca;
}

.table{
    width: 100%;
}

tr{
    border-bottom: 1px solid grey;
}

.container{
    margin-top: 20px;
    width: 80%;
}

/* Add white-space: nowrap; to the price column */
.price {
    display: flex;
    white-space: nowrap;
    border-bottom: none; /* Remove the bottom border */
  }
  
  