
<div class="container container-fluid">
  <h2>Product List</h2>
      <!-- Search bar -->
      <br>
      <div class="row">
        <div class="col-lg-9">
          <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" [(ngModel)]="searchText" (keyup)="handleKeyUp($event)" />
            <button type="button" class="btn btn-outline-primary" (click)="search()">Search</button>
          </div>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn create-btn" routerLink="add-product">Add Product</button>
        </div>
        <div>
          <h2>CSV Product Import</h2>
          <input type="file" (change)="onFileSelected($event)">
          <button (click)="uploadFile()">Upload CSV</button>
        </div>
      </div>
      <br>
  
      <!-- Table -->
      <h3>Listed Products</h3>
      <table class="table ">
        <thead id="header">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Price incl. VAT</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Type</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let product of products">
          <tr *ngIf="products.length === 0">
            <td colspan="5">No results were found.</td>
          </tr>
          <tr *ngIf="product.listStatus == true">
            <td style="font-weight: bold;">{{product.product_Name}}</td>
            <td>{{product.product_Description}}</td>
            <td class="price">R {{product.product_Price |number:"1.2-2"}}</td>
            <td >R {{(product.product_Price + (product.product_Price * VAT.vaT_Amount)) |number:"1.2-2"}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.product_Category.name}}</td>
            <td>{{product.product_Type.name}}</td>
       
            <td><button type="button" class="btn edit-btn" [routerLink]="['edit-product', product.product_ID]">Edit</button></td>
            <td><button type="button" class="btn remove-btn" (click)="UnlistProduct(product.product_ID)">Unlist</button></td>
          </tr>
        </tbody>
      </table>

      <br>
  
      <!-- Table -->
      <h3>Unlisted Products</h3>
      <table class="table ">
        <thead id="header">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Price incl. VAT</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Type</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let product of products">
          <tr *ngIf="products.length === 0">
            <td colspan="5">No results were found.</td>
          </tr>
          <tr *ngIf="product.listStatus == false">
            <td style="font-weight: bold;">{{product.product_Name}}</td>
            <td>{{product.product_Description}}</td>
            <td class="price">R {{product.product_Price |number:"1.2-2"}}</td>
            <td >R {{(product.product_Price + (product.product_Price * VAT.vaT_Amount)) |number:"1.2-2"}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.product_Category.name}}</td>
            <td>{{product.product_Type.name}}</td>
       
            <td><button type="button" class="btn edit-btn" [routerLink]="['edit-product', product.product_ID]">Edit</button></td>
            <td><button type="button" class="btn remove-btn" (click)="RelistProduct(product.product_ID)">Relist</button></td>
          </tr>
        </tbody>
      </table>
    </div>
