<table class="job-table">
  <thead>
    <tr>
      <th>Job ID</th>
      <th>Date</th>
      <th>Type</th>
      <th>Client</th>
      <th>Status</th>
    </tr>
  </thead>
  <tr>
    <td>1</td>
    <td>2023-01-01</td>
    <td>Coal</td>
    <td>Exxaro</td>
    <td>Busy</td>
  </tr>
  <tr>
    <td>2</td>
    <td>2023-01-02</td>
    <td>Sand</td>
    <td>Imperial</td>
    <td>Completed</td>
  </tr>
  <tr>
    <td>3</td>
    <td>2023-01-03</td>
    <td>Weti</td>
    <td>Starbucks</td>
    <td>Not Started</td>
  </tr>
</table>