.job-table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    border-radius: 15px;
    border: 3px solid #004F9E;    
    width: 80%;
}


.edit-btn{
    background-color: #117fca;
    color: white;
}

.remove-btn{
    background-color: #CA0017;
    color: white;
}

// .container {
//     border: 2px solid #004F9E;
//     border-radius: 10px;
//     width: 100%;
//   }

#header{
    background-color: #004F9E;
    color: white;
}

.create-btn{
    background-color: forestgreen;
    color: white;
}

.btn-outline-primary:hover{
    background-color: #117fca;
}