.view-container {
  position: absolute;
  margin: 65px auto 0;
  padding: 20px;
  border: 3px solid #004F9E;
  border-radius: 10px;
  border-top-left-radius: 0px;
  width: 80%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.add-container {
  position: absolute;
  margin: 65px auto 0;
  padding: 20px;
  border: 3px solid #117fca;
  border-radius: 10px;
  border-top-left-radius: 0px;
  width: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
}

.main-container{
    position: relative;
    padding: 20px;
    margin-left: 150px;
}

.view-jobs-btn {
  align-items: center;
  position: absolute;
  top: -40px;
  left: -2.5px;
  color: #004F9E;
  background-color: transparent;
  border: 3px solid;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-left-color: #004F9E;
  border-bottom-color: transparent;
  padding: 10px 20px;
  height: 40px;
  width: 130px;
  font-weight: bold;
}

.view-jobs-btn-selected {
  align-items: center;
  position: absolute;
  top: -40px;
  left: -2.5px;
  color: #f2f2f2;
  background-color: #004F9E;
  border: 3px solid #004F9E;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: transparent;
  padding: 10px 20px;
  height: 40px;
  width: 130px;
  font-weight: bold;
}

.add-job-btn {
  align-items: center;
  position: absolute;
  top: -40px;
  left: 127.5px;
  color: #117fca;
  background-color: transparent;
  border: 3px solid;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-left-color: #117fca;
  border-bottom-color: transparent;
  padding: 10px 20px;
  height: 40px;
  width: 130px;
  font-weight: bold;
}

.add-job-btn-selected {
  align-items: center;
  position: absolute;
  top: -40px;
  left: 127.5px;
  color: #f2f2f2;
  background-color: #117fca;
  border: 3px solid #117fca;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: transparent;
  padding: 10px 20px;
  height: 40px;
  width: 130px;
  font-weight: bold;
}

.add-job-btn:hover {
  color: #f2f2f2;
  background-color: #117fca;
  border: 3px solid #117fca;
}

.view-jobs-btn:hover {
  color: #f2f2f2;
  background-color: #004F9E;
  border: 3px solid #004F9E;
}

.job-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  /* Combine borders between table cells */
}

.job-table thead {
  margin-top: 200px;
}

tr{
  height: 50px;
}

.header th{
  background-color: #004F9E;
  color: #f2f2f2;}

.job-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Set the background color for even rows */
}

.job-table tr:hover {
  background-color: #e0e0e0; /* Add a hover effect to table rows */
}

.edit-btn {
  background-color: #117fca;
  color: white;
}

.remove-btn {
  background-color: #CA0017;
  color: white;
}

/* .container {
    border: 2px solid #004F9E;
    border-radius: 10px;
    width: 100%;
  } */

#header {
  background-color: #004F9E;
  color: white;
}

.create-btn {
  background-color: #117fca;
  color: white;
}

.btn-outline-primary:hover {
  background-color: #117fca;
}

/* Search bar */
.search-navbar {
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: lightgray;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  padding-right: 5px;
}

.search-bar {
  display: flex;
  // align-items: center;
  background-color: #fff;
  border-radius: 25px;
  height: 35px;
  width: 200%;
  margin-left: auto;
  padding: 5px 10px;
}

.search-bar input[type="text"] {
  border: none;
  outline: none;
  background: transparent;
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

.search-bar button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.search-bar button:hover {
  opacity: 0.8;
}

/* Add your custom styles here */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;

}

label {
  margin-top: 10px;
  font-weight: bold;
  margin-left: 10%;
}

.txtbox {
  width: 80%;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #333;
  margin-bottom: 10px;
}

.weight {
  width: 30%;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #333;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10%;
}

/* Custom dropdown styling */
.dropdown {
  height: 40px;
  width: 30%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  color: #333;
  outline: none;
  cursor: pointer;
  margin-left: 1%;
}

/* Style the arrow icon (you can use an icon library or an image for the arrow) */
.dropdown::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #777;
  pointer-events: none;
}

/* Hover effect */
.dropdown:hover {
  background-color: #e0e0e0;
}

/* Focus effect */
// .dropdown:focus {
//   border-color: #117fca;
//   box-shadow: 0 0 5px rgba(17, 127, 202, 0.5);
// }

/* Dropdown options */
.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
}

.dropdown.open .dropdown-options {
  display: block;
}

.dropdown-option {
  padding: 8px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

/* Custom datetime-local input styling */
.lbl-start{
  margin-right: auto;
  margin-left: 10%;
}

.lbl-end{
  margin-left: auto;
  margin-right: 10%;
}
.date-start{
  margin-right: auto;
  margin-left: 10%;
  width: 35%;
  height: 40px;
}

.date-end{
  margin-left: auto;
  margin-right: 10%;
  width: 35%;
  height: 40px;
}


input.date {
  height: 40px;
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  outline: none;
}

.create-button {
  width: 50%;
  height: 40px;
  border: 2px solid #117fca;
  border-radius: 15px;
  color: #117fca;
  background-color: white;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10%;
  font-weight: bold;
}

.create-button:hover {
  font-weight: bold;
  color: #f2f2f2;
  background-color: #117fca;
  border-color: #004F9E;
}

.form-item-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
}

form{
  width: 90%;
  align-items: center;
  max-width: 600px;
}


.view-job-btn{
  border: 2px solid #117fca;
  border-radius: 10px;
  background-color: white;
  color: #117fca;
  font-weight: bold;
  width: 60%;
  height: 35px;
}

.view-job-btn:hover{
  color: white;
  background-color: #117fca;
  font-weight: bold;
}


.create-button {
  width: 150px;
  height: 40px;
  border: 2px solid #117fca;
  border-radius: 15px;
  color: #117fca;
  background-color: white;
  margin-top: 10px;
  margin-right: 10px;

  font-weight: bold;
}

.create-button:hover {
  font-weight: bold;
  color: #f2f2f2;
  background-color: #117fca;
  border-color: #004F9E;
}

.form-item-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
}

form{
  width: 90%;
  align-items: center;
  max-width: 600px;
}


.view-job-btn{
  border: 2px solid #117fca;
  border-radius: 10px;
  background-color: white;
  color: #117fca;
  font-weight: bold;
  width: 100px;
  height: 35px;
}

.view-job-btn:hover{
  color: white;
  background-color: #117fca;
  font-weight: bold;
}

.cancel-job-btn{
  border: 2px solid red;
  border-radius: 10px;
  background-color: white;
  color: red;
  font-weight: bold;
  width: 100px;
  height: 35px;
}

.cancel-job-btn:hover{
  color: white;
  background-color: red;
  font-weight: bold;
}

.cancel-button {
  width: 150px;
  height: 40px;
  border: 2px solid red;
  border-radius: 15px;
  color: red;
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
}

.cancel-button:hover {
  font-weight: bold;
  color: #f2f2f2;
  background-color: red;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center; /* Optional: To vertically center the buttons */
}

.helpbtn {
  margin-top: 15px;
  margin-left: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Optional: If you want a transparent button background */
  border: none; /* Optional: If you want to remove the button border */
  cursor: pointer; /* Optional: Add a pointer cursor on hover */
}


.help-icon {
  color: #004F9E;
}


/* help Modal */
.HelpModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* Modal content container */
.modal-content {
  margin-left: 4%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%; /* Adjust the width as needed */
  width: 100%;
  max-width: 900px;
  max-height: 80%; /* Adjust the height as needed */
  overflow-y: auto; /* Add vertical scroll if content exceeds the height */
}

/* Center the modal vertically and horizontally */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover {
  color: #555;
}

.HelpHeader{
  margin-left: auto;
  margin-right: auto;
}

.ContactSupport{
  margin-left: auto;
  margin-right: auto;
  color: #004F9E;
}
