<br>
<br>
<br>

<div class="container">
  <div class="login-wrapper">
    <mat-card class="box" *ngIf="!isLoading">

      <img class="logo" src="/assets/LTTLogo.jpg">

      <form class="login-form">
        <div class="form-field">
            <label class="form-label">Your email has been confirmed!</label> 
        </div>
        <button class="login-btn" (click)="RedirectToLogin()">Log In</button><br>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      </form>
    </mat-card>
    <mat-progress-spinner mode="indeterminate" value="50" *ngIf="isLoading"></mat-progress-spinner>
  </div>
</div>