<button class="helpbtn" (click)="OpenHelpModal()"><mat-icon class="help-icon">help</mat-icon></button>
<div class="details-container" *ngIf="showDetails==true">

    <button class="details-btn-selected" (click)="ShowDetails()">View Details</button>

    <div class="item-container">
        <h3>Job Details</h3>
        <!-- <button [routerLink]="'/Admin-Screen/jobs/edit-job'" class="edit-btn">
            Edit
        </button> -->
        <button [routerLink]="'/Admin-Screen/jobs'" class="close-btn">
            Close
        </button>
    </div>

    <table class="details-table" *ngFor="let jobDetails of jobs">
        <tr>
            <th>
                Job ID
            </th>
            <td>
                {{jobDetails.job_ID}}
            </td>
        </tr>
        <tr>
            <th>
                Start Date
            </th>
            <td>
                {{jobDetails.startDate | date: 'dd/MM/yyyy'}}
            </td>
        </tr>
        <tr>
            <th>
                End Date
            </th>
            <td>
                {{jobDetails.dueDate | date: 'dd/MM/yyyy'}}
            </td>
        </tr>
        <tr>
            <th>
                Weight
            </th>
            <td>
                {{jobDetails.total_Weight}} T
            </td>
        </tr>
        <tr>
            <th>
                Status
            </th>
            <td>
                {{jobDetails.jobStatus.name}}
            </td>
        </tr>
        <tr>
            <th>
                Type
            </th>
            <td>
                {{jobDetails.jobType.name}}
            </td>
        </tr>
        
        <tr>
            <th>
               Delivery information
            </th>
            <td >
                <table class="delivery">
                    <tr>
                        <th>Driver</th>
                        <th>Truck</th>
                        <th>Trailer</th>
                        <th>Load (T)</th>
                        <th></th>
                    </tr>
                    <tr *ngFor=" let jobdeliveries of jobDetails.deliveries">
                        <td>{{jobdeliveries.driver.name + " " + jobdeliveries.driver.lastname}}</td>
                        <td>{{jobdeliveries.truck.truck_License}} </td>
                        <td>{{jobdeliveries.trailer.trailer_License}}</td>
                        <td>{{jobdeliveries.delivery_Weight}}</td>
                        <td>
                            <button class="view-job-btn" [routerLink]="'/Admin-Screen/jobs/document-information/' + jobdeliveries.delivery_ID +'/' + jobdeliveries.truck.mileage" *ngIf="jobDetails.jobStatus.name == 'Job Details Required'"> Capture </button>
                        </td>
                        
                    </tr>
                </table>  
            </td> 
        </tr>
       
        <tr>
            <th>
                Client
            </th>
            <td>
                {{jobDetails.userName}}
            </td>
        </tr>
    </table>
    <div *ngFor="let jobDetails of jobs">
        <div class="item-container" *ngIf="jobDetails.jobStatus.name == 'Job Details Required'">
            <button class="complete-btn" (click)="CompleteJob(jobDetails)"> Complete Job </button>
        </div>
    </div>
</div>


<!-- ----------------------------------------------------------------------------------------- -->
<div class="documents-container" *ngIf="showDocuments == true">
    <button class="details-btn" (click)="ShowDetails()">View Details</button>
    <button class="documents-btn-selected" (click)="ShowDocuments()">Documents</button>

</div>

<!-- Help Modal -->
<div *ngIf="showHelpModal" class="HelpModal">
    <div class="modal-content">
      <span class="close" (click)="CloseHelpModal()">&times;</span>
      <h3 class="HelpHeader" style="color:#004F9E;">Welcome to LTT Help Centre!</h3><br>
     <p>
        - To capture documents linked to the job, click the “Capture” button.<br>
        -	To Mark a job as complete, click the “Complete Job” button.<br>
      </p><br>
      <b>Please Note:</b>
      <p>-	The initial mileage entered can’t be more than the final mileage.</p><br>
      <b>If you cannot capture or complete a job:</b>
      <ol>
        <li>Refresh the webpage.</li>
        <li>Make sure that you are connected to the internet.</li>
        <li>Log out of the system and then log back into the system.</li>
      </ol>
      
      <br><p class="ContactSupport">If the issue still persists, please contact our support team at <b>hanru@limtt.co.za</b>.</p>
  
    </div>
  </div>
  