<div class="container">
  <div class="cart-items">



    <table class="item-table" *ngIf="cartItems == ''">
      <tbody>
        <tr class="NoItems">
          There are currently no items in your cart.
        </tr>
      </tbody>
    </table>




    <table class="item-table">
      <tbody>
        <tr class="itemRow" *ngFor="let item of cartItems; let i = index">
          <td><img [src]="item.image" [alt]="item.product_Name"></td>
          <td style="text-align: left;"><b>{{ item.product_Name }}</b><br>
            <p style="color: rgb(109, 109, 109);">{{item.product_Description}}</p>
          </td>
          <td class="qty-col">
            <button class="qtyBtn" (click)="decreaseQuantity(item)">-</button>&nbsp;
            <span>{{ item.cartQuantity }}</span>&nbsp;
            <button class="qtyBtn" (click)="increaseQuantity(item)">+</button>
          </td>
          <td style="font-weight: bold;">R {{ item.product_Price * item.cartQuantity | number:"1.2-2"}}</td>
          <td>
            <button class="removeBtn" (click)="removeFromCart(i)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="cart-summary">
    <table class="summary-table">
      <thead class="CSHead">
        <tr>
          <th>Cart Summary</th>
        </tr>
      </thead>

      <tbody class="CSBody">
        <td>
          <div class="summary">Items ({{this.dataService.itemsInCart}})</div>
          <div class="total">Total: R {{ this.total| number:"1.2-2"}}</div>
        </td>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <button class="continueBtn" (click)="continueShopping()">Continue Shopping</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="checkoutBtn" (click)="checkout()" [disabled]="cartItems.length === 0">Checkout</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>