<button class="helpbtn" (click)="OpenHelpModal()"><mat-icon class="help-icon">help</mat-icon></button>

<div class="container" *ngIf="isPayment == false">
  <div class="cart-items">



    <table class="item-table" *ngIf="cartItems == ''">
      <tbody>
        <tr class="NoItems">
          There are currently no items in your cart.
        </tr>
      </tbody>
    </table>




    <table class="item-table">
      <tbody>
        <tr class="itemRow" *ngFor="let item of cartItems; let i = index">
          <td>
            <img [src]="'assets/Mail.jpg'" *ngIf="!item.image">
            <img [src]="item.image" *ngIf="item.image">
          </td>
          <td style="text-align: left;"><b>{{ item.product_Name }}</b><br>
            <p style="color: rgb(109, 109, 109);">{{item.product_Description}}</p>
          </td>
          <td class="qty-col">
            <button class="qtyBtn" (click)="decreaseQuantity(item)">-</button>&nbsp;
            <span>{{ item.cartQuantity }}</span>&nbsp;
            <button class="qtyBtn" (click)="increaseQuantity(item)">+</button>
          </td>
          <td style="font-weight: bold;">R {{ (item.product_Price + (item.product_Price * VAT.vaT_Amount)) * item.cartQuantity | number:"1.2-2"}}</td>
          <td>
            <button class="removeBtn" (click)="removeFromCart(i)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="cart-summary">
    <table class="summary-table">
      <thead class="CSHead">
        <tr>
          <th>Cart Summary</th>
        </tr>
      </thead>

      <tbody class="CSBody">
        <td>
          <div class="summary">Items ({{this.dataService.itemsInCart}})</div>
          <div class="summary">Amount excl. VAT: R {{ this.total | number:"1.2-2"}}</div>
          <div class="summary">VAT ({{VAT.vaT_Amount*100| number:"1.0-0"}}%): R {{this.total * VAT.vaT_Amount | number:"1.2-2"}}</div><br>
          <div class="total">Total: R {{ this.total + (this.total * VAT.vaT_Amount) | number:"1.2-2"}}</div>
        </td>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <button class="continueBtn" (click)="continueShopping()">Continue Shopping</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="checkoutBtn" (click)="makePayment()" [disabled]="cartItems.length === 0">Checkout</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="container " *ngIf="isPayment ==true ">
  <div class=" paygate offset-md-3 ">
    <form (ngSubmit)="checkout(f)" #f="ngForm">
      <div class="row mb-4 mt-4">
        <h4 class="cardTitle">Add new card</h4>
      </div>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input required type="text" class="form-control" id="firstName" name="firstName"
          [(ngModel)]="newCard.firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input required type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="newCard.lastName">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input required type="email" class="form-control" id="email" name="email" [(ngModel)]="newCard.email">
      </div>
      <div class="form-group">
        <label for="cardNumber">Card number</label>
        <input required type="text" class="form-control" id="cardNumber" name="cardNumber"
          [(ngModel)]="newCard.cardNumber">
        <small class="form-text text-muted">16-digital card number</small>
      </div>
      <div class="form-group">
        <label for="cardExp">Card expiry</label>
        <input required type="text" class="form-control" id="cardExp" name="cardExpiry"
          [(ngModel)]="newCard.cardExpiry">
        <small class="form-text text-muted">e.g 112024</small>
      </div>
      <div class="form-group">
        <label for="cvv">Cvv</label>
        <input required type="text" class="form-control" id="cvv" name="cvv" [(ngModel)]="newCard.cvv">
        <small class="form-text text-muted">3-digits found on back of the card</small>
      </div>
      <button *ngIf="!isLoading" class="btn btn-danger" (click)="cancelPayment()">Cancel</button>
      
      <button *ngIf="!isLoading" type="submit" class="btn btn-primary" [disabled]="!f.valid">Pay R {{ this.total + (this.total * VAT.vaT_Amount)| number:"1.2-2"}}</button>

    
    <div *ngIf="isLoading" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </form>
</div>
<div class="cart-summary">
  <table class="summary-table">
    <thead class="CSHead">
      <tr>
        <th>Cart Summary</th>
      </tr>
    </thead>
    <div class="payment">
       Secured with PayGate
       <img src="https://www.paygate.co.za/wp-content/uploads/logo_285x110.png">
    </div>
   
    <tbody class="CSBody">
      <td>
        <div class="summary">Items ({{this.dataService.itemsInCart}})</div>
        <div class="summary">Amount excl. VAT: R {{ this.total | number:"1.2-2"}}</div>
        <div class="summary">VAT ({{VAT.vaT_Amount*100| number:"1.0-0"}}%): R {{this.total * VAT.vaT_Amount | number:"1.2-2"}}</div><br>
        <div class="total">Total: R {{ this.total + (this.total * VAT.vaT_Amount) | number:"1.2-2"}}</div>
      </td>
    </tbody>
  </table>
</div>
</div>

<!-- <div class="ion-padding" *ngIf="Secure3DHTML">
  <iframe
          [src]="Secure3DHTML"
          id="paygateFrame"
          style="width: 98%;height: 400px;display: block;margin: auto;background: rgb(255, 255, 255);border:none;"
  ></iframe>

</div> -->

<!-- <div class="row mt-4" *ngIf="paymentResult">
  <h3>Payment result</h3>
  <div class="mt-2 alert alert-info">
    {{ paymentResult | json }}
  </div>
</div> -->

<!-- Help Modal -->
<div *ngIf="showHelpModal" class="HelpModal">
  <div class="modal-content">
    <span class="close" (click)="CloseHelpModal()">&times;</span>
    <h3 class="HelpHeader" style="color:#004F9E;">Welcome to LTT Help Centre!</h3><br>
    <p>
      - To proceed to the <b>checkout</b>, click on the “Checkout” button at the bottom of the cart summary
      section.<br><br>
      - To <b>remove</b> an item from your cart, click on the “Remove” button of the product you wish to remove.<br><br>
      - To <b>change the quantity</b> of a product, click on the “-” or ”+” buttons beside the quantity number that is
      indicated.<br><br>
    </p>

    <p><b>If the quantity does not increase:</b></p>
    <ol>
      <li>Please make sure that there is <b>enough stock available</b> of the product. This can be viewed on the <b>Products
        screen.</b><br>
        <i>To navigate to the product screen, click on the <b>“Products” tab</b> on the top navigation bar.</i></li>
      <li> If the <b>issue persists</b>, log out of your account and then log back into your account. <p style="color: red;">Please note that all
        items
        added to your cart will be lost when doing this!</p></li>
    </ol>

  </div>
</div>