<br>
<div class="row">
  <div class="col-lg-3 main-content"></div>
  <div class="col-lg-7 main-content">
    <div class="container container-fluid">

      <h2>Edit Driver</h2>
      
      <form #form="ngForm" (ngSubmit)="form.form.valid && EditDriver()" autocomplete="off">
        <div class="mb-3">
          <label for="Name" class="form-label">Driver Name</label>
          <input type="text" class="form-control" id="Name" aria-describedby="Name" [(ngModel)]="driverDetails.name" name="Name" required>
        </div>
      
        <div class="mb-3">
          <label for="lastname" class="form-label">Driver Surname</label>
          <input type="text" class="form-control" id="lastname" [(ngModel)]="driverDetails.lastname" name="lastname" required>
        </div>

        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input type="tel" class="form-control" id="phoneNumber" [(ngModel)]="driverDetails.phoneNumber"  
            name="phoneNumber" [(ngModel)]="driverDetails.phoneNumber" required
            pattern="0[0-9]{9}" maxlength="10">
          <small class="text-muted">Please enter a 10-digit phone number starting with 0.</small>
        </div>
      
        <div class="mb-3">
          <label for="status" class="form-label">Status</label>
          <select class="form-select" id="status" [(ngModel)]="driverDetails.driver_Status_ID" name="status">
            <option value="1">Available</option>
            <option value="2">Unavailable</option>
            <option value="3">Busy</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="driverDetails.email"  
          name="email" [(ngModel)]="driverDetails.email" required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
        <small class="text-muted">Please enter a valid email address.</small>
        </div>
          
        
        <button type="submit" class="btn btn-primary" style="border-radius: 12px;" [disabled]="!form.valid">Save</button>&nbsp;
        <button type="button" class="btn btn-danger" style="border-radius: 12px;" routerLink="/Admin-Screen/drivers">Cancel</button>
      </form>
      <br>

    </div>
  </div>
</div>
