
<div class="search-bar-container">
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Enter your search query">
        <button  matSuffix mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</div>




<div class="card-container">
     <mat-card *ngFor="let product of products" class="product-card">
        <mat-card-content >
            
            <div class="header-content">
                <div class="centered">
                <mat-card-title>Product Image</mat-card-title>
                </div>
                
            </div><br>

            <h6>{{product.product_Name}}</h6><br>
            <p>{{product.product_Description}}</p>   

            <div class="price-button-container">
                <mat-card-subtitle>{{product.product_Price}}</mat-card-subtitle>
                <button mat-raised-button color="primary"  class="green-button">Add to Cart</button>
              </div>
        </mat-card-content>
      </mat-card>
  </div>
  