<h1>Orders</h1>

<!-- Current Orders -->
<table>
    <thead>
        <tr>
            <h3><u>Current Orders</u></h3>
        </tr>
        <tr>
            <th>Order Number</th>
            <th>Placed on</th>
            <th>Status</th>
            <th>Total</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>#2144586</td>
            <td>2023-01-01</td>
            <td>Ordered</td>
            <td>R 500</td>
            <td>
                <button class="continueBtn">View</button>
            </td>
            <td>
                <button class="removeBtn">Remove</button>
            </td>
        </tr>
    </tbody>
</table>
