.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 50px;
  perspective: 800px;
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
}


.header-content {

  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}



.lol {
  width: 220px;
  height: 290px;
  // max-height: 120px;
  // max-width: 150px;
}
.lol2 {
  width: 220px;
  height: 135px;
  // max-height: 120px;
  // max-width: 150px;
}


.product-card {
  background-color: rgb(241, 241, 241);
}


.product-card {
  width: 20%; /* Adjust width as needed */
  margin: 10px; /* Adjust margin as needed */
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 250px;
  height: 425px; /* Adjust width as needed */
  margin: 10px; /* Adjust margin as needed */
  transition: transform 1500ms;
  transform-style: preserve-3d;

  transition: box-shadow 0.3s; /* Adjust the transition duration as needed */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Initial shadow */
}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adjust the shadow values as desired */
}

.card-header {
  background-color: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.body{
  background-color: #f4f4f4;
}


.card-content {
  padding: 5px; /* Adjust the padding as needed */
  max-height: 120px; /* Limit the maximum height of the card content */
  overflow: hidden; /* Hide any overflowing content */
  word-wrap: break-word; /* Add this property to allow text wrapping */
  white-space: nowrap;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
  margin-top: 30px;
}

.AddToCartBtn {
  width: 110px;
  border: 2px solid green;
  border-radius: 5px;
  background-color: white;
  color: green;
  font-weight: bold;
}

.AddToCartBtn:hover {
  border: 2px solid green;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-weight: bold;
}
  

.Generatebtn{
  color: #004F9E;
  font-weight: bold;
  background-color: white;
  border: 2px solid #004F9E;
  width: 100%;
  height: 35px;
  border-radius: 5px;
}

.Generatebtn:hover{
  color: white;
  font-weight: bold;
  background-color: #004F9E;
  border: 2px solid #004F9E;
  width: 100%;
}

.chart-container {
  background-color: #a5a5a5; /* Replace with your desired grey color */
}

.chart-wrapper {
  width: 800px; /* Set a fixed width */
  height: 400px; /* Set a fixed height */
}


.helpbtn {
  margin-top: 15px;
  margin-left: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Optional: If you want a transparent button background */
  border: none; /* Optional: If you want to remove the button border */
  cursor: pointer; /* Optional: Add a pointer cursor on hover */
}


.help-icon {
  color: #004F9E;
}


/* help Modal */
.HelpModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* Modal content container */
.modal-content {
  margin-left: 4%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%; /* Adjust the width as needed */
  width: 100%;
  max-width: 900px;
  max-height: 80%; /* Adjust the height as needed */
  overflow-y: auto; /* Add vertical scroll if content exceeds the height */
}

/* Center the modal vertically and horizontally */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover {
  color: #555;
}

.HelpHeader{
  margin-left: auto;
  margin-right: auto;
}

.ContactSupport{
  margin-left: auto;
  margin-right: auto;
  color: #004F9E;
}
