/* Add this CSS to your global stylesheet or component stylesheet */
.container {
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 70vh; /* This will make the container take up the full height of the viewport */
  }

.logo{
  width: 100%;
  height: auto;
  margin-top: -55px;
}
  
  .login-wrapper {
    /* You can set the maximum width for the login wrapper if desired */
    max-width: 400px; /* Adjust this value according to your preference */
  }

  .box {
    margin-top: 0%;
    position: relative; /* This is required for positioning the pseudo-element */
    background-color: white; /* Set a background color for the .box element */
    height: auto; /* Set the desired height of the .box element */
    width: auto;
    border: 2px solid #004F9E;
    border-radius: 10px;
    align-items: flex-start;
    z-index: 1;
  }
  
  .box::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 95%;
    background-image: url('/assets/Login/Register/bg.jpg');
    background-size: cover;
    background-position: center bottom;
    z-index: -1;
    margin-top: auto; /* Add this line to remove the default margin */

  }
  
  
  .card-title {
    color: #004F9E;
    font-weight: bold;
    font-size: 28px;
    justify-content: center;
    align-self: flex-start; 
  }

  .login-btn {
    display: block; /* Set display to block */
    color: white;
    font-weight: bold;
    margin: 0 auto; /* Center horizontally */
    background-color: #117fca;
    border: 3px solid white;
    width: 150px;
    height: 50px;
    border-radius: 30px;
}


/* Add this CSS to your global stylesheet or component stylesheet */
.register-section {
  width: 110%;
  color: white;
}

.register-section a {
  color: white; /* Set the link color to white to match the background */
  text-decoration: none; /* Remove underline from the link */
  text-decoration: underline;
}

.register-section a:hover {
  text-decoration: underline; /* Add underline on hover if desired */
  font-weight: bold;
}


/* Styles for the form fields */
.login-form{
  margin-top: 16% ;
  width: 100%;
}

.form-field {
  margin-bottom: 15px;

}

/* Styles for the form labels */
.form-label {
  display: block;
  font-weight: bold;
}

/* Styles for the form inputs */
.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-radius: 30px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Styles for the spinner animation */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message{
  color: red;
  font-weight: bold;
}

.helpbtn {
  margin-top: 15px;
  margin-left: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Optional: If you want a transparent button background */
  border: none; /* Optional: If you want to remove the button border */
  cursor: pointer; /* Optional: Add a pointer cursor on hover */
}


.help-icon {
  color: #004F9E;
}


/* help Modal */
.HelpModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* Modal content container */
.modal-content {
  margin-left: 4%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%; /* Adjust the width as needed */
  width: 100%;
  max-width: 900px;
  max-height: 80%; /* Adjust the height as needed */
  overflow-y: auto; /* Add vertical scroll if content exceeds the height */
  z-index: 2;
}

/* Center the modal vertically and horizontally */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover {
  color: #555;
}

.HelpHeader{
  margin-left: auto;
  margin-right: auto;
}

.ContactSupport{
  margin-left: auto;
  margin-right: auto;
  color: #004F9E;
}
