<button class="helpbtn" (click)="OpenHelpModal()"><mat-icon class="help-icon">help</mat-icon></button>
<div class="container container-fluid">


  <h2>Admin List</h2>
      
      <!-- Search bar -->
      <br>
      <div class="row">
        <div class="col-lg-9">
          <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" [(ngModel)]="searchText" (keyup)="handleKeyUp($event)" />
            <button type="button" class="btn btn-outline-primary" (click)="search()">Search</button>
          </div>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn create-btn" routerLink="add-admin">Add Admin</button>
        </div>
      </div>
      <br>
        
            <!-- Table -->
            <table class="table table-hover">
              <thead id="header">
                <tr>
                  <th>Admin Name</th>
                  <th>Admin Surname</th>
                  <th>Email</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="admins.length === 0">
                  <td colspan="5">No results were found.</td>
                </tr>
                <tr *ngFor="let admin of admins">
                  <td>{{admin.name}}</td>
                  <td>{{admin.lastname}}</td>
                  <td>{{admin.email}}</td>
            <td><button type="button" class="btn edit-btn" [routerLink]="['edit-admin', admin.admin_ID]">Edit</button></td>
            <td><button type="button" class="btn remove-btn" (click)="openConfirmationDialog(admin.admin_ID)">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>

<!-- Help Modal -->
<div *ngIf="showHelpModal" class="HelpModal">
  <div class="modal-content">
    <span class="close" (click)="CloseHelpModal()">&times;</span>
    <h3 class="HelpHeader" style="color:#004F9E;">Welcome to LTT Help Centre!</h3><br>
    <p>
      - To explore our variety of trailer and truck <b>components</b>, click on the “Products” tab in the top navigation bar.<br><br>
      - To <b>learn more</b> about Limpopo Trailer & Truck, click on the “About Us” tab on the top navigation bar.<br><br>
      - To <b>Register/Log In</b>, please click on the “My Account” dropdown and then click on the “Register” button, if you
      already have an account click on the “Log In” button.
    </p><br>
    <p style="color: red;">
      *-- Please Note: You must be registered and logged in to do the following: --*
    </p>
    <p>
      - To <b>view you account</b>, click on the “My Account” dropdown and then click on the “View Profile” button.<br><br>
      - To <b>log Out</b>, click on the “My Account” dropdown and then click on the “Log Out” button.<br><br>
      - To view the items that are in your <b>cart</b>, click on the cart icon on the top navigation bar.<br><br>
    </p>

  </div>
</div>