
<div class="container container-fluid">
  <h2>Client List</h2>
      
      <!-- Search bar -->
      <br>
      <div class="row">
        <div class="col-lg-9">
          <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" [(ngModel)]="searchText" (keyup)="handleKeyUp($event)" />
            <button type="button" class="btn btn-outline-primary" (click)="search()">Search</button>
          </div>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn create-btn" routerLink="add-client">Add Client</button>
        </div>
      </div>
      <br>
        
            <!-- Table -->
            <table class="table table-hover">
              <thead id="header">
                <tr>
                  <th>Email</th>
                  <th>Client Name</th>
                  <th>Phone Number</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="clients.length === 0">
                  <td colspan="5">No results were found.</td>
                </tr>
                <tr *ngFor="let client of clients">
                  <td>{{client.email}}</td>
                  <td>{{client.name}}</td>
                  <td>{{client.phoneNumber}}</td>
                  
            <td><button type="button" class="btn edit-btn" [routerLink]="['edit-client', client.client_ID]">Edit</button></td>
            <td><button type="button" class="btn remove-btn" (click)="DeleteClient(client.client_ID)">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>
